<?xml version="1.0" encoding="UTF-8"?>
<meta:properties xmlns:meta="http://schemas.brother.info/ptouch/2007/lbx/meta"
				 xmlns:dc="http://purl.org/dc/elements/1.1/"
				 xmlns:dcterms="http://purl.org/dc/terms/">
	<meta:appName>com.brother.PtouchEditor</meta:appName>
	<dc:title>{{ title }}</dc:title>
	<dc:creator>{{ creator }}</dc:creator>
	<meta:template>{{ template }}</meta:template>
	<dcterms:created>{{ created_time }}</dcterms:created>
	<dcterms:modified>{{ modified_time }}</dcterms:modified>
	<meta:revision>{{ revision }}</meta:revision>
	<meta:editTime>{{ edit_time }}</meta:editTime>
	<meta:numPages>1</meta:numPages>
</meta:properties>
